[exaddos.daemon]
user = 'nobody'

[exaddos.http]
host = '127.0.0.1'
port = 8080

[exaddos.flow]
host = '127.0.0.1'
port = 39200


[exaddos.location]
#database = 'data/exaddos/db/exaddos.sqlite3'
html = 'data/exaddos/html'

[exaddos.profile]
destination = 'stdout'
enable = false

# threshold: expressed in pps

[exaddos.PEER1]
router = '127.0.0.2'
location = 'datacenter'
snmp_version = 2
snmp_password = 'secret'
snmp_frequency = 10
interface_name =  'ge-0/0/1'
snmp_index_port = 120
snmp_index_vlan = 100
threshold_bandwidth = 104857600
threshold_unicast = 120000
threshold_notunicast = 1500


[exaddos.PEER2]
router = '127.0.0.2'
location = 'datacenter'
snmp_version = 2
snmp_password = 'secret'
snmp_frequency = 10
interface_name =  'ge-0/0/1'
snmp_index_port = 120
snmp_index_vlan = 110
threshold_bandwidth = 104857600
threshold_unicast = 120000
threshold_notunicast = 1500


[exaddos.TRANSIT1]
router = '127.0.0.3'
location = 'datacenter'
snmp_version = 2
snmp_password = 'secret'
snmp_frequency = 10
interface_name =  'ge-0/1/2'
snmp_index_port = 220
snmp_index_vlan = 140
threshold_bandwidth = 104857600
threshold_unicast = 120000
threshold_notunicast = 1500
